*{
    margin:0;
    padding:0;
  }
  
  *, *::before, *::after {
      box-sizing: inherit;
  }
  
  html{
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    
  }
  body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  }
  #web-title{
    text-align: center;
    font-size: 4em;
    margin: 1em;
    color: #0077b6;
  }
  #books {
    width: 100%;
    border-collapse: collapse;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.5em;
    background: white;
  }
  
  #books td, #books th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #books tr:nth-child(even){background-color: #caf0f8;}
  
  #books tr:hover {background-color: #90e0ef;}
  
  #books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #48cae4;
    color: white;
  }

  #form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #form label{
    font-size: 1.5em;
    font-weight: 800;
  }
  input[type="text"]{
    width: 250px;
  }
  #pages{
    width: 40px;
  }
  @media(max-width: 850px){
    #form{
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 1em;
    }
    #form div{
      margin-bottom: 1em;
    }
  }
  @media(max-width: 480px){
      #web-title{
        font-size: 3.5em;
      }
  }
  
  @media(max-width: 350px){
    #books td, #books th {
      padding: 1px;
    }
}